<!-- app/views/users/show.html.erb -->
<main class="main">
  <div class="inner">
    <div class="user__profile">
      <h1><%= @user.name %></h1>
      <p><%= @user.profile %></p>
      <p><%= @user.occupation %></p>
      <p><%= @user.position %></p>
    </div>
    <div class="user__prototypes">
      <h2>プロトタイプ一覧</h2>
      <% if @prototypes.any? %>
        <ul>
          <%= render partial: 'prototypes/prototype', collection: @prototypes %>
        </ul>
      <% else %>
        <p>このユーザーはまだプロトタイプを投稿していません。</p>
      <% end %>
    </div>
  </div>
</main>